@import "../css/padrao.css";

/* PAINEL */
.sub2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 15px;
    align-items: flex-end;
}

.painel {
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
    background-color: white;
    height: 95%;
    width: 95%;
}

.panel-title {
    display: flex;
    height: 15%;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;


}

.search-box {
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    height: 3rem;
    width: 90%;
    border: solid black 1px;
    border-radius: 0.5rem;
    background-color: #e3e7e9;
    justify-content: end;
    align-items: center;
}

.search-icon-container {
    display: flex;
    width: 4rem;
    height: 2.8rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
}

.search-icon {
    height: 80%;
    width: 80%;
    background-image: url(../assets/icon-buscar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.user-panel-header {
    display: flex;
    height: 30rem;
    width: 95%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-header {
    display: flex;
    width: 95%;
    height: 4rem;
    background-color: #e3e7e9;
    border-radius: 0.5rem 0.5rem 0 0;
    justify-content: space-evenly;
    
}

.user-header tr {
    width: 87.5%;
}

.user-header tr th {
    width: 33.33%;
}

.user-list {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 24rem;
    max-height: 24rem;
    min-height: 10rem;
    background-color: #b6b7b8;
    overflow-y: auto;
    justify-content: space-evenly;   
}

.user-list::-webkit-scrollbar {
    width: 15px;
}

.user-list::-webkit-scrollbar-track {
    background: #e9e9e9;
}

.user-list::-webkit-scrollbar-thumb {
    background-color: #43BAFF; 
    border-radius: 10px;
    border: 2px solid #040404; 
}

.user-list::-webkit-scrollbar-thumb:hover {
    background-color: #0d8bcc;
}

.user-table {
    width: 95%;
    height: 28rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.user-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 20px;
}

.container-edit {
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.edit-button {
    width: 2rem;
    height: 2rem;
    background-image: url(../assets/edit-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.remove-button {
    width: 2rem;
    height: 2rem;
    background-image: url(../assets/remove-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}










