@import "../css/padrao.css";

/* PAINEL */
.sub2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 15px;
    align-items: flex-end;

}

/* INFO */
.info {
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    background-color: white;
    height: 80%;
    width: 35vh;
}

.info .perfil {
    background-image: url(../assets/usuario.png);
    background-size: cover;
    position: absolute;
    bottom: 420px;
    background-color: white;
    border: black solid;
    border-radius: 100%;
    height: 160px;
    width: 160px;
}

.info .conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 30vh;
    height: 75%;
    top: 20%;
}

.sub-conteudo {
    height: 90%;
    font-size: 12px;
}

.sub-conteudo .suporte{
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PLUS - CONTAINERS DIREITO */
.plus {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 60%;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

.plus h2{
    margin: 20px 0 0 20px;
    width: fit-content;
}

.plus .dashboard{
    display: flex;
    align-items: center;
        margin: 20px 20px 0 20px;
    height: 80%;    
}