@import "../css/padrao.css";

/* PAINEL */
.sub2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 15px;
    align-items: flex-end;

}

/* INFO */
.info {
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    background-color: white;
    height: 80%;
    width: 35vh;
}

.info .perfil {
    background-image: url(../assets/usuario.png);
    background-size: cover;
    position: absolute;
    bottom: 420px;
    background-color: white;
    border: black solid;
    border-radius: 100%;
    height: 160px;
    width: 160px;
}

.info .conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 30vh;
    height: 75%;
    top: 20%;
}

.sub-conteudo {
    height: 90%;
    font-size: 12px;
}

.sub-conteudo .suporte {
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PAINEL - Container direito */
.painel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 65%;
    background-color: white;
    border-radius: 15px 15px 0 0;

    h2 {
        margin: 15px 0 0 0;
        width: 100%;
    }

    &.func {
        h2 {
            width: 90%;
        }

        .mensagens {
            display: flex;
            width: 90%;
            height: 65%;
            flex-direction: column;
            gap: 15px;
            padding-top: 10px;

            .msg {
                border: red solid 0.1px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 30%;
                width: 100%;
                text-overflow: ellipsis;

                img {
                    width: 50px;
                    height: 50px;
                }

                .texto {
                    background-color: #0000000e;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    height: 100%;
                    width: 90%;

                    p {
                        padding: 10px;
                    }
                }
            }
        }

        .permissoes {
            width: 90%;
            height: 40%;

            .lista {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                padding: 10px;

                li {
                    width: 50%;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.desativado {
                        color: gray;
                    }
                }
            }
        }
    }

    &.empresa {
        .box {
            display: flex;
            justify-content: space-between;
            height: 95%;
            width: 90%;

            h2 {
                margin-bottom: 10px;
            }

            .conteudo1 {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                width: 60%;

                .dashboard {
                    gap: 30px;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 90%;
                    align-items: center;
                }
            }

            .conteudo2 {
                width: 35%;
                height: 100%;

                .perfis {
                    padding-top: 5px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    height: 86%;
                    gap: 8px;
                    overflow-y: auto;
                    box-sizing: border-box;
                    scrollbar-width: thin;
                    scrollbar-color: #43BAFF #ffffff;

                    .perfil {
                        width: 100%;
                        display: flex;
                        align-items: center;

                        span {
                            margin-left: 10px;
                            flex-grow: 1;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .img-perfil {
                            flex-shrink: 0;
                            background-image: url("../assets/ícone-conta.svg");
                            background-size: cover;
                            width: 60px;
                            height: 60px;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
    }
}