@import "../css/padrao.css";

/* PAINEL */
.sub2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 15px;
    align-items: flex-end;
}

.painel {
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
    background-color: white;
    height: 95%;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.container-title {
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.container-nome-empresa {
    width: 90%;
    height: 8%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.box-nome-empresa {
    width: 20%;
    height: 100%;
    display: flex;
    border-radius: 1rem 1rem 0 0;
    background-color: rgb(229, 229, 229);
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.container-config {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-config {
    width: 90%;
    height: 100%;
    background-color: rgb(229, 229, 229);
    border-radius: 1rem 0 0 0;
    display: flex;
}

.container-dados {
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.container-text-conta {
    width: 70%;
    height: 3rem;
    display: flex;
}

.box-text-conta {
    width: 30%;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 2rem;
}

.container-perfil {
    width: 90%;
    height: 8rem;
    display: flex;
    flex-direction: column;
}

.box-perfil {
     width: 90%;
     height: 40%;
     display: flex;
     justify-content: start;
     align-items: center;
     margin-left: 2rem;
     font-weight: bolder;
     font-size: 25px;
}

.container-button {
    width: 85%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container-button-delete {
    width: 86%;
    height: 5rem;
    display: flex;
    justify-content: end;
    align-items: end;
}

.button-perfil {
    border-radius: 10px;
    width: 5rem;
    height: 2rem;
    background-color: #43BAFF;
    color: black;
    font-weight: 700;
    text-align: center;   
    cursor: pointer; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.button-perfil:hover {
    background-color: #87cef8;
    transform: scale(1.1);
}

.button-senha {
    border-radius: 10px;
    width: 7rem;
    height: 2rem;
    background-color: #43BAFF;
    color: black;
    font-weight: 700;
    text-align: center;  
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.button-senha:hover {
    background-color: #87cef8;
    transform: scale(1.1);
}

.button-apagar-conta {
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    background-color: red;
    color: black;
    font-weight: 700;
    text-align: center; 
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.button-apagar-conta:hover {
    background-color: #f46060;
    transform: scale(1.1);
}

.container-image {
    width: 19.1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-image {
    width: 10rem;
    height: 10rem;
    margin-left: 3rem;
    background-color: rgb(164, 163, 161);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.box-image:hover {
    transform: scale(1.2);
    background-color: #e0e0e0;
}

.box-image::after {
    content: "Inserir imagem";
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
}

.box-image:hover::after {
    opacity: 1;
}

.container-buttons {
    width: 10rem;
    height: 5rem;
    margin-left: 3rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.button-editar {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../assets/edit-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-editar:hover {
    transform: scale(1.2);
}

.button-excluir {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../assets/icon-delete.svg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-excluir:hover {
    transform: scale(1.2);
}

input {
    width: 40rem;
    height: 1.5rem;
    border: white;
    border-radius: 5px;
    background-color: #cdcdcd;
    padding-left: 1rem;
    color: black;
    font-weight: bold;
}

p {
    margin-top: 15px;
    margin-left: 20px;
}

.azul {
    width: 48rem;
    height: 1rem;
    border-radius: 0 0 15px 15px;
    background-color: #43BAFF;
}

button{
    border: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    width: 20rem;
    height: 5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.popup.hidden {
    display: none;
}

.popup.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, 0);
}

.modal-confirmacao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-confirmacao.hidden {
    display: none;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.modal-buttons button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-confirmar {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-confirmar:hover {
    background-color: darkred;
    transform: scale(1.1);
}

.btn-cancelar {
    background-color: #43BAFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-cancelar:hover {
    background-color: #87cef8;
    transform: scale(1.1);
}


