* {
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}
html {
    scroll-behavior: smooth;
}
:root {
    --cor-azul-claro: #43BAFF;
    --cor-azul-escuro: #080501;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 8vh;
    padding-bottom: 5%;
}

#nav {
    display: none;
    margin: 0; 
    padding: 0; 
}

.navbar-Child {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    background-color: #00000089;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    list-style-type: none;
    padding: 0 10vw;
}

.navbar img {
    width: 20%;
}

.navbar li {
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 650;
    user-select: none;
    transition: 0.3s ease-in-out;
}

.botaoConta {
    color: var(--cor-azul-claro) !important;
}

.botaoConta img {
    width: 15%;
    margin-right: 5px;
    margin-bottom: -5px;
}

.botaoConta:hover {
    color: #ffffff !important;
}

.navbar li:hover {
    transform: scale(1.1);
    color: var(--cor-azul-claro);

}

.section1 {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/background-login.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: "Poppins";
}

.box-cadastro {
    width: 50vw;
    height: 70vh;
    background-color: black;
    opacity: 85%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.text-cadastro {
    width: 100%;
    height: 20%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 600;
}

.container-input {
    width: 100%;
    height: 55%;
    display: flex;
    font-size: 0.85rem;

}

.box-input {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

input {
    width: 15rem;
    height: 1.5rem;
    border-radius: 6px;
    background-color: black;
    opacity: 75%;
    color: white;
    text-align: left;
    display: flex;
    padding-left: 5px;
    border: solid white 2px;
}

.text-input {
    width: 16rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
    color: white;
    display: flex;
    flex-direction: column;
}
.botaoLogin {
    color: var(--cor-azul-claro);
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.botaoLogin:hover {
    color: white;
    font-size: 1.05rem;
}

.box-btn {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
}

button {
    cursor: pointer;
    width: 35%;
    height: 30%;
    border-radius: 6px;
    border: none;
    background-color: #43BAFF;
    color: white;
    text-decoration: none;
    font-size: large;
    transition: 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    background-color: #01182B;
}

.text-signup {
    width: 100%;
    height: 10%;
    color: white;
    font-size: 0.85rem;
}

#divError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vh;
    border: solid black;
    background-color: white;
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    

    body::-webkit-scrollbar {
        display: none;
    }

    body,
    ul {
        margin: 0px;
        padding: 0px;
    }

    a {
        color: black;
        text-decoration: none;
        font-family: sans-serif;
    }

    a:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    #logo {
        font-size: 1.5rem;
        font-weight: bold;
    }


    #nav {
        display: flex;
        list-style: none;
        gap: 0.5rem;
    }

    #menu a {
        display: block;
        padding: 0.5rem;
    }

    #btn-mobile {
        display: none;
    }

    @media (max-width: 600px) {
        .menu {
            display: block;
        }

        #menu {
            display: block;
            position: absolute;
            width: 100%;
            top: 70px;
            right: 0px;
            background-color: #000000c9;
            transition: 0.6s;
            z-index: 1000;
            height: 0px;
            visibility: hidden;
            overflow-y: hidden;
        }

        #nav.active #menu {
            height: calc(45vh - 70px);
            visibility: visible;
            overflow-y: auto;
        }

        #menu a {
            padding: 1rem 0;
            margin: 0 1rem;
            border-bottom: 2px solid #565656;
            color: white;
        }

        #menu a:hover {
            color: var(--cor-azul-claro);
        }

        #btn-mobile {
            display: flex;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            background: none;
            cursor: pointer;
            gap: 0.5rem;
        }

        #hamburger {
            border-top: 2px solid white;
            width: 20px;
        }

        #hamburger::after,
        #hamburger::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: #fff;
            margin-top: 5px;
            transition: 0.3s;
            position: relative;
        }

        #nav.active #hamburger {
            border-top-color: transparent;
        }

        #nav.active #hamburger::before {
            transform: rotate(135deg);
        }

        #nav.active #hamburger::after {
            transform: rotate(-135deg);
            top: -7px;
        }
    }

    .navbar .nav-padrao {
        display: none;
    }

    .navbar img {
        width: 80%;
        padding-left: 7%;
    }

    .box-cadastro {
        width: 95vw;
        height: 90vh;
    }

    .text-cadastro {
        font-size: 1.5rem;
        height: 10%;
        padding-top: 2%;
    }

    .box-input {
        width: 100%;
    }

    .container-input {
        height: 100%;
    }

    .cadastro-input {
        width: 80%;
    }

    .senha-input {
        width: 80%;
    }

    .text-signup {
        font-size: 0.65rem;
    }

    button {
        width: 70%;
    }

    .container-input {
        flex-direction: column;

    }

    .box-btn p {
        font-size: 0.9rem;
    }
    #divError {
        width: 50vw;
        height: 20vh;
    }
}