* {
  margin: 0;
  padding: 0;
  text-decoration-line: none;
}

:root {
  --cor-azul-claro: #43BAFF;
  --cor-azul-escuro: #080501;
}

/* Nav Bar */
.navbar {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  padding-bottom: 5%;
  text-decoration-line: none;

}

.menu {
  display: none;
}

.navbar-Child {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  background-color: #00000089;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  list-style-type: none;
  padding: 0 10vw;
}

.navbar img {
  cursor: pointer;
  width: 20%;
}

.navbar li {
  color: white;
  font-size: 1rem;
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 650;
  user-select: none;
}

.botaoConta {
  color: var(--cor-azul-claro) !important;
}

.botaoConta img {
  width: 15%;
  margin-right: 5px;
  margin-bottom: -5px;
}

.botaoConta:hover {
  color: #ffffff !important;
}

.navbar li:hover {
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--cor-azul-claro);

}

.section1 {
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/background-login.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Poppins";
}

.box-login {
  width: 25vw;
  height: 60vh;
  display: flex;
  background-color: black;
  opacity: 85%;
  text-align: center;
  flex-direction: column;
  border-radius: 1rem;
}

.text-login {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: xx-large;
  color: white;
}

.box-input {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-align: start;
  font-size: 0.85rem;

}

.login-input {
  width: 70%;
  height: 55%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  color: white;
  display: flex;
  flex-direction: column;
}

.senha-input {
  width: 70%;
  height: 55%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  color: white;
  display: flex;
  flex-direction: column;
}

input {
  width: 15rem;
  height: 1.5rem;
  border-radius: 6px;
  background-color: black;
  border: solid white 2px;
  opacity: 75%;
  color: white;
  display: flex;
  text-align: left;
  padding-left: 5px;
}

.box-btn {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 45%;
  height: 30%;
  border-radius: 6px;
  background-color: #43BAFF;
  border: solid #43BAFF 1px;
  color: white;
  text-decoration: none;
  font-size: large;
}

button:hover {
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.5s;
}

.text-signup {
  width: 100%;
  height: 10%;
  color: white;
  font-size: 0.85rem;
}

#divError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vh;
  border: solid black;
  background-color: white;
  color: black;
  display: none;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  body {
    overflow: scroll;
    -ms-overflow-style: none;
    /* Remove a barra de rolagem no IE e Edge */
    scrollbar-width: none;
    /* Remove a barra de rolagem no Firefox */
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body,
  ul {
    margin: 0px;
    padding: 0px;
  }

  a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }

  a:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }


  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }

  #menu a {
    display: block;
    padding: 0.5rem;
  }

  #btn-mobile {
    display: none;
  }

  @media (max-width: 600px) {
    .menu {
      display: block;
    }

    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background-color: #000000c9;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }

    #nav.active #menu {
      height: calc(45vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }

    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid #565656;
      color: white;
    }

    #menu a:hover {
      color: var(--cor-azul-claro);
    }

    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }

    #hamburger {
      border-top: 2px solid white;
      width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: #fff;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }

    #nav.active #hamburger {
      border-top-color: transparent;
    }

    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

  .navbar .nav-padrao {
    display: none;
  }

  .navbar img {
    width: 80%;
  }

  .box-login {
    width: 95vw;
  }

  .login-input {
    width: 80vw;
    align-items: center;
  }

  .login-input p {
    width: 15rem;
  }

  .senha-input {
    width: 80vw;
    align-items: center;
  }

  .senha-input p {
    width: 15rem;
  }

  .text-signup {
    font-size: 0.65rem;
  }

  button {
    width: 70vw;
  }
}