* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-azul-claro: #43BAFF;
    --cor-azul-escuro: #080501;
}

/* Nav Bar */
.Nav-Bar {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 7vh;
    background-color: #08050123;
    
}
.Nav-Bar-Child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    list-style-type: none;
    }
    .Nav-Bar img {
        width: 15%;
    }
    
    .botaoConta {
        color: var(--cor-azul-claro);
    }
    .Nav-Bar li:hover {
        color: var(--cor-azul-claro);
    }

    .secao1 {
        height: 93vh;
        width: 100vw;
        background-image: url(../assets/background-login.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-login {
        width: 30vw;
        height: 60vh;
        display: flex;
        background-color: black;
        opacity: 75%;
        border: solid red;
        text-align: center;
        flex-direction: column;
    }

    .text-login {
        width: 100%;
        height: 20%;
        border: solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: x-large;
        color: white;
    }

    .box-input {
        width: 100%;
        height: 50%;
        border: solid rgb(0, 51, 255);
    }
