* {
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Poppins";
}

:root {
    --cor-azul-claro: #43BAFF;
    --cor-azul-escuro: #080501;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 8vh;
}

#nav {
    display: none;
    margin: 0;
    padding: 0;
}

.navbar-Child {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    background-color: #00000089;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    list-style-type: none;
    padding: 0 10vw;
}

.navbar img {
    width: 20%;
}

.navbar li {
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 650;
    user-select: none;
    transition: 0.3s ease-in-out;
    position: relative;
}

.botaoConta {
    color: var(--cor-azul-claro) !important;
    padding-top: 5px;
    height: 30px;
}

.botaoConta img {
    width: 15%;
    margin-right: 5px;
    margin-bottom: -5px;
}

.botaoConta:hover {
    color: #ffffff !important;
}

.navbar li:hover {
    transform: scale(1.1);
    color: white;
}

.encerrar {
    display: none;
    position: absolute;
    background-color: #000000c0;
    border-radius: 15px;
    margin-top: 5px;
    height: 50px;
    width: 200px;
    right: 10px;
}

.navbar li:hover .encerrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.encerrar .botao {
    display: flex;
    align-items: center;
    color: black;
    border-radius: 8px;
    background-color: #ffffff;
    width: 90%;
    height: 60%;
    font-size: 14px;
}

.botao img{
    margin-left: 10px;
    background-size: cover;
    width: 20px;
    height: 20px;
}

/* SEÇÃO 1 */
.secao1 {
    width: 100vw;
    height: 102vh;
    margin-top: -10vh;
    background-image: url("../assets/background-login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sub1 {
    flex-direction: row;
    display: flex;
    margin-top: 10vh;
    width: 90%;
    height: 85%;
    background-color: #000000c0;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
}

/* MENU */
.sub1 .menu {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    background-color: #000000c0;
    transition: width 0.6s;
    overflow: hidden;
}

.menu:hover {
    width: 30%;
}

.menu .icone-menu {
    transition: transform 0.6s ease-out;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 75%;
    height: 12%;
}

.menu span {
    transition: transform 0.6s ease-out;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
    margin-left: 10px;
}

.menu:hover span {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
}

.menu .icone-menu img {
    transition: transform 0.6s ease-out;
    margin-left: 5px;
    width: 50px;
    height: 50px;
}

.menu:hover .icone-menu img {
    margin-left: 0px;
    transform: rotate(90deg);
}

/* MENU - ANCORAS */
.menu .ancoras-menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: transform 0.6s ease-out;
    margin: 10px;
    width: 75%;
    height: 80%;
}

.menu a {
    display: flex;
    width: 100%;
    color: white;
    text-decoration: none;
}

.ancora {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.ancora img {
    transition: margin-left 0.6s ease-out;
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.menu:hover .ancora img {
    margin-left: 10px;
}

.ancora span {
    font-size: 15px;
}

.menu .configuracoes {
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease-out;
    align-items: center;
    margin: 10px;
    width: 75%;
    height: 10%;
}

.configuracoes .ancora {
    height: 100%;
}

.menu .selecionado {
    color: #43BAFF;
    font-weight: bold;
}

.menu a:hover span {
    color: #43BAFF;
}

/* DROPDOWN */
.dropdown {
    display: block;
}

.dropdown .dropdown-icon {
    transform: rotate(-90deg);
}

.dropdown .dropdown-content {
    display: none;
    font-size: 14px;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.6s;
    visibility: hidden;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropdown-icon {
    transition: transform 0.3s ease-out;
    transform: rotate(90deg);
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 10px 0 0 80px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    color: #43BAFF;
}


/* PAINEL */
.sub2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 15px;
    align-items: flex-end;
}

.painel {
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
    background-color: white;
    height: 95%;
    width: 95%;
}

.box-title {
    display: flex;
    height: 15%;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    border: solid red;

}

.boxBuscar {
    border: solid  blue;
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraBuscar {
    display: flex;
    height: 3rem;
    width: 90%;
    border: solid black 1px;
    border-radius: 0.5rem;
    background-color: #e3e7e9;
    justify-content: end;
    align-items: center;
}

.box-icon {
    display: flex;
    width: 4rem;
    height: 2.8rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
}

.icon-buscar {
    height: 80%;
    width: 80%;
    background-image: url(../assets/icon-buscar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box-header-usuarios {
    display: flex;
    height: 15%;
    width: 95%;
    border: solid;
    align-items: center;
    justify-content: center;
}

.header-usuarios {
    display: flex;
    width: 90%;
    height: 60%;
    border: solid purple;
    background-color: #e3e7e9;
    border-radius: 0.5rem 0.5rem 0 0;
    justify-content: space-evenly;
    align-items: center;
}

.informacoes-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    width: 10rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 20px;
}

